@charset "utf-8";

@import "defaults/colors";


.Logo {

    .Pick {
        fill: $color-primary;
    }

    .Guitar {
        fill: $color-primay-80;
    }

    .Text {
        fill: $color-bright;
    }

    #Telecaster {

    }

    #Stratocaster {
        display: none;
    }

    #LesPaul {
        display: none;
    }


}
