@charset "utf-8";

@import "defaults/colors";


.Logo {

    .Pick {
        fill: $color-primary;
    }

    .Guitar {
        fill: $color-primary-80;
    }

    .Text {
        fill: $color-bright;
    }

}
