@charset 'utf-8';

@import 'defaults/colors';
@import 'defaults/typography';


.Filter {
    padding: 1.0em;
}

.FilterResults {

    .FilterResult {
        margin-bottom: 1.5em;

        h2 {
            font-size: $fontsize-root;
            font-weight: $fontweight-bold;
        }
        .positions {
            display: flex;
            flex-wrap: wrap;

            .ChordDiagram {
                background: transparent;
                border-radius: 5px;
                cursor: pointer;
                height: 96px;
                width: 96px;

                &:hover {
                    background: $color-white;
                }

                circle, line, rect, text {
                    fill: $color-filtertxt;
                    stroke: $color-filtertxt;
                }
                /*.Fingering {
                    text {
                        stroke: $color-filterbg;
                    }
                }*/
            }
        }
    }

}
