@charset "utf-8";

@import "defaults/colors";
@import "defaults/typography";


.Viewer {
    color: $color-txt;
    padding: 85px 0;

    h1 { // No collection for "foo" found
        color: $color-dark-dark;
        font-size: $fontsize-xlarge;
        font-weight: bold;
        margin: 1.0em 2.0em;
        padding: 0;
    }
}

.CollectionMeta {
    padding: 1.0em;

    h1 {
        color: $color-dark-dark;
        font-size: $fontsize-xlarge;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .altName {
        color: $color-gray-40;
        display: inline-block;
        font-size: $fontsize-large;
        font-weight: bold;
        margin: 0.25em 0;
    }
}

.ChordMeta {
    h2 {
        font-size: $fontsize-xlarge;
        font-weight: bold;
        margin: 0;
        text-align: center;
    }
}

.ChordList {
    -webkit-overflow-scrolling: touch;
    display: block;
    margin-bottom: 1.0em;
    overflow-y: hidden;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100);
    scroll-snap-type: mandatory;
    white-space: nowrap;
    width: 100vw;

    .Chord {
        display: inline-block;
        scroll-snap-align: start;
        scroll-snap-coordinate: 0% 0%;
        max-height: 320px;
        max-width: 320px;

        @media screen and (orientation:portrait) {
            height: 92vh;
            width: 92vw;
        }
        @media screen and (orientation:landscape) {
            height: 65vh;
            width: 65vh;
        }

        .ChordDiagram {
            background: $color-white;
            border-radius: 0.5em;
            margin: 1.0em;
        }
    }
}
