@charset "utf-8";

@import "defaults/colors";


.Navbar {
    align-items: center;
    background: $color-primary-20;
    border-bottom: 1.5px solid $color-primary-50;
    box-shadow: 0 0 7px transparentize($color-black, 0.5);
    color: $color-white;
    display: flex;
    left: 0;
    padding: 1.0em 0.5em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    .LogoContainer {
        flex: 1;

        .Logo {
            height: 48px;
        }
    }

    .Menu {

    }

    .MenuButton {
        align-items: center;
        background: $color-primary;
        border: 1.5px solid $color-primary-50;
        border-radius: 5px;
        color: $color-white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0.5em;
        text-align: center;

        &:hover {
            background: lighten($color-primary, 7%);
        }

        svg {
            fill: $color-white;
            height: 24px;
            margin-left: 0.5em;
            //transition: all 0.35s ease-in-out;
            width: 24px;
        }
    }

    .MenuButton-active {
        svg {
            transform: rotate(180deg);
        }
    }
}
