@charset 'utf-8';

@import 'defaults/colors';


.Selector {
    background: lighten($color-primary, 7%);
    box-shadow: 0 0 7px transparentize($color-black, 0.5);
    color: $color-white;
    left: 0;
    max-height: 0;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 0;
    //transition: all 0.35s ease-in-out;
    z-index: 10;
}

.Selector-active {
    max-height: 100%;
    overflow-y: auto;
}

.SelectorGroup {
    margin-top: 92px;
    padding: 0.5em;

    .GroupName {
        font-weight: bold;
    }

    .GroupButtons {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5em 0;

        .GroupButton {
            background: lighten($color-primary, 0%);
            border: 1px solid $color-primary-alt;
            border-radius: 3px;
            color: $color-white;
            cursor: pointer;
            margin: 0.5em;
            padding: 0.5em 1.0em;

            &:hover {
                background: lighten($color-primary, 3.5%);
            }
        }
    }
}

.SelectorBackground {
    display: none;
}

.SelectorBackground-active {
    background: transparentize($color-black, 0.35);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
