@charset "utf-8";

@import "defaults/colors";
@import "defaults/devices";
@import "defaults/typography";


.Selector {
    background: $color-dark;
    box-shadow: 0 0 7px transparentize($color-black, 0.5);
    color: $color-white;
    display: block;
    left: 0;
    max-height: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    //transition: all 0.35s ease-in-out;
    z-index: 10;

    @include desktop {
        display: flex;
    }
}

.Selector-active {
    max-height: 100%;
    overflow-y: auto;
}

.SelectorGroup {
    margin-top: 0;
    padding: 0.5em;

    @include desktop {
        margin-top: 86px;
    }

    &:first-child {
        margin-top: 86px;
        padding-right: 2.0em;
    }

    .GroupName {
        font-size: $fontsize-large;
        font-weight: normal;
    }

    .GroupButtons {
        padding: 0.5em 0;

        .GroupButton {
            background: $color-primary-20;
            border: 1.5px solid $color-primary-80;
            border-radius: 5px;
            color: $color-white;
            cursor: pointer;
            display: inline-block;
            margin: 0.5em;
            padding: 0.5em 1.0em;
            text-decoration: none;

            &:hover {
                background: $color-primary-80;
                color: $color-white;
            }
        }
        span {
            display: block;
        }
    }
}

.SelectorBackground {
    display: none;
}

.SelectorBackground-active {
    background: transparentize($color-black, 0.35);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}
