@charset 'utf-8';

@import 'defaults/colors';

.Chord {
    border: 1px solid $color-blue;
    height: 256px;
    margin: 1.0em;
    width: 256px;

    .Frets {
        line {
            stroke: $color-black;
            stroke-linecap: round;
        }
    }

    .Nut {
        fill: $color-black;
        stroke: $color-black;
        stroke-width: 1;
    }

    .Strings {
        line {
            stroke: $color-black;
            stroke-linecap: round;
        }
    }
}
