@charset 'utf-8';

@import 'defaults/colors';
@import 'defaults/typography';


.ChordDiagram {
    border: 1px solid $color-blue;
    height: 256px;
    width: 256px;

    text {
        font-family: $fontstack-body;
        font-size: 4px; // not really... this is in viewbox size
        font-weight: $fontweight-default;
    }

    .Fingerings {
        circle {
            fill: $color-black;
            stroke-width: 0;
        }

        text {
            fill: $color-white;
            font-weight: $fontweight-bold;
        }
    }

    .Fretboard {
        fill: $color-black;
        stroke: $color-black;
        stroke-linecap: round;
        stroke-width: 1;

        .Frets {
        }

        .Nut {
        }

        .Strings {
        }
    }

    .Labels {
        .FretLabels {
            text {
                text-anchor: end;
            }
        }

        .NutLabels {
            text {
                text-anchor: middle;
            }
        }
    }
}
