@charset 'utf-8';

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .Header {
        height: 50vh;
    }

    .Content {
        display: flex;
        height: 50vh;
        overflow-y: scroll;
    }
}
